footer {
    background-color: #000000;
    height: 150px;
    width: auto;

    .bi-whatsapp {
        @extend %iconosFooter;

        &:hover{
            color: #25d366
        }
    }
    .bi-instagram {
        @extend %iconosFooter;

        &:hover{
            color: #E1306C
        }
    }
    .bi-twitter {
        @extend %iconosFooter;

        &:hover{
            color: #1D9BF0
        }
    }
    .bi-facebook {
        @extend %iconosFooter;

        &:hover{
            color: #0165E1
        }
    }
    .bi-envelope {
        @extend %iconosFooter;

        &:hover{
            color: #c71610
        }
    }
    .bi-geo-alt {
        @extend %iconosFooter;

        &:hover{
            color: #f2a60c;
        }
    }
    .developer {
        text-decoration: none;
        color: #fcfcfc;
        font-family: "roboto condensed" , sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 17px;
    }
    .hipervinculos {
        text-decoration: none;
        color:#fcfcfc;

        &:hover{
            font-size: 20px;
        }
    }
    .miNombre {

        &:hover{
            color: $rojo;
        }
    }
}

